{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 style=font-size:60px; align="center">Hello, Welcome to My Page!</h1>
    <h2 style=font-size:30px align="center">I hope you enjoy your visit :)</h2>
    <hr style="margin-top: 2.5%"/>
    <section name="bio">
        <h2 style="background-color:#F1D7E2" align="center">I'm Metta Anantha Pindika</h2>
        <p style="font-size: 20px; background-color:#C5EBF0">
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2 style="background-color:#F1D7E2" align="center">A little about me:</h2>
        <ul style="background-color:#C5EBF0; font-size: 20px">
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <section name="form">
            <h2 style="background-color:#F1D7E2">Send Me a Message here!</h2>
            <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
                {% csrf_token %}
                {{ message_form }}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </section>    
    <hr/>
    {% endblock %}