{% extends "base.html" %}
{% block content %}

<style>
    .center_screen {
        position: absolute;
        width: 550px;
        height: 50px;
        top: 35%;
        left: 30%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    #test {
        color: black;
        text-decoration: bold;
        font-size: 35px;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}